node_modules
screenshots
videos
screenshots
download
downloads
*.apk
downloads
reports
allure-report
allure-results
*.bat
downloads
*.apk
*.bat
Mobile\app\android\app-release.apk
allure-results
allure-report
reports
bin
kill-port.bat
android
*.jpg
*.png
config.js